<nav class="navabar navbar-default">
      <div class="float-panel" data-top="-20"data-scroll="300" style="background-color: #242424;">
          <div style="text-align:right;max-width:1360px;margin:20px; ">
              <a href="#" style="float:left;">
                  <i class="fa fa-gg"></i>
                  <em style="font-size: 25px ;letter-spacing:1px; color: white;font-family: Times New Roman"><b>FramesArena</b></em>
                  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                  <span class="float-panel-hide-small"style="color: #6A6A6A; font-family: Times New Roman"> Online hub for Photography and Art</span>
              </a>
<div class="navbar-header">


              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar">a</span>
                <span class="icon-bar">b</span>
                <span class="icon-bar">c</span>
              </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar" style="padding-top: 10px">
                <ul class="nav navbar-nav navbar-right" style="font-family: Times New Roman">
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">PHOTO STORIES</a></li>
                  <li><a href="#">ARTICLES</a></li>

                  <li><a href="#">CONTACT</a></li>
                  <li>
                    <a href="/profile" style="color:white"><%= user.local.email %></b></a>
                  </li>
                  <li>
                    <a href="/logout" style="color:white">logout</a>
                  </li>
                </ul>
              </div>
           </div>
      </div>
  </nav>
